.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader #image_container {
  overflow: hidden;
  display: flex;
  align-items: center;
}
#loader #image_container #img1_cont {
  background: white;
  z-index: 1;
}
#loader #image_container #image {
  width: 70px;
  animation-name: example2;
  animation-duration: 4s;
  transition: 0.5s ease-in-out;
}
#loader #image_container #image2 {
  width: 150px;
  margin: 0 0 0 15px;
  animation-name: example;
  animation-duration: 3s;
  transition: 0.5s ease-in-out;
}
@keyframes example {
  0%   {margin: 0 0 0 -100px;}
  100% {margin: 0 0 0 15px;}
}