
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #EFF2F9;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #E72D38;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: 'Poppins', sans-serif;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #363740;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader #image_container {
  overflow: hidden;
  display: flex;
  align-items: center;
}
#loader #image_container #img1_cont {
  background: #363740;
  z-index: 1;
}
#loader #image_container #image {
  width: 70px;
  animation-name: example2;
  animation-duration: 6s;
  transition: 0.5s ease-in-out;
}
#loader #image_container #image2 {
  width: 150px;
  margin: 0 0 0 15px;
  animation-name: example;
  animation-duration: 4s;
  transition: 0.5s ease-in-out;
}
@keyframes example {
  0%   {margin: 0 0 0 -100px;}
  100% {margin: 0 0 0 15px;}
}